################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmovisionBlazor/output.png
/.vs
*.webm
