@using EmovisionBlazor.Domain

<button type="button"
        class="btn btn-@StateView[State].Style @(StateView[State].IsDisabled ? "disabled" : string.Empty)"
        @onclick="OnClickAsync"
        >@StateView[State].Title
</button>

@code {
	[Parameter, EditorRequired]
	public EmovisionState State { get; set; }

	[Parameter]
	public EventCallback Click { get; set; }

	private Dictionary<EmovisionState, (string Title, string Style, bool IsDisabled)> StateView = new()
		{
			[EmovisionState.Stopped] = ("Начать", "success", false),
			[EmovisionState.SelectingSource] = ("Выбор источника", "warning", true),
			[EmovisionState.SourceSelected] = ("Продолжить", "warning", false),
			[EmovisionState.Started] = ("Остановить", "danger", false),
		};

	private async Task OnClickAsync()
	{
		await Click.InvokeAsync();
	}
}
